# Sum Operator

In [ ]:
x = int(input())

In [ ]:
y = int(input())

In [ ]:
print(x + y)

# Exponent Operator

In [ ]:
x = int(input()) # jika tidak dibungkus int() maka hasil dari input() adalah string

In [ ]:
y = x**x

In [ ]:
print(y)

# Floor division

In [ ]:
a = 100

In [ ]:
b = 4

In [ ]:
print(a // b)

# Array / List

In [ ]:
mylist = ['Indra', 'Damar', 'Jati', 21, 8, 2002]

In [ ]:
mylist[2] # dihitung dari index 0

In [ ]:
mylist = ['Indra', 21, 8, 2002]

In [ ]:
mylist[0:3]

In [ ]:
len(mylist) # len() berguna untuk menghitung jumlah value di dalam array/list

In [ ]:
mylist.count('Indra') # count(query) berguna untuk menghitung dan mencari jumlah value dalam list

In [ ]:
mylist[-3:-1]

In [ ]:
mylist.append('Damar')

In [ ]:
print(mylist)

In [ ]:
mylist.insert(1, 'Damar')

In [ ]:
print(mylist)

In [ ]:
nama = ['Indra', 'Damar', 'Jati']

In [ ]:
ttl = [21, 8, 2002]

In [ ]:
mylist = nama + ttl

In [ ]:
print(mylist)

In [ ]:
mylist.insert(1, nama)

In [ ]:
print(mylist)

In [ ]:
"Indra" in mylist

In [ ]:
"indra" in mylist

In [ ]:
21 in mylist

In [ ]:
"Ganteng" in mylist

In [ ]:
alphabeth = ['a', 'c', 'e', 'g', 'b', 'd', 'f', 'z', 'y', 'x'] # sort() berguna untuk mengurutkan angka dan huruf di dalam list

In [ ]:
alphabeth.sort()

In [ ]:
alphabeth

In [ ]:
numbers = [1, 9, 0, 4, 6, 8, 3, 2, 5, 7, 101, 99, 55]

In [ ]:
numbers.sort()

In [ ]:
numbers

## Quiz

Lets say our expense (pengeluaran) for every month are listed below:

- January: 2200
- February: 2350
- March: 2600
- April: 2130
- May: 2190

Create list to store these monthly expenses:

- In Feb, how many dollars you spent extra compare to January?
- Find out your total expenses in first quarter (first three months) of the year
- Find out if you spent exactly 2000 dollars in any month
- June month is just finished, and your expenses is 1980 dollar, add it to our month expenses list
- Kamu dapat kembalian dari barang yang kamu beli di bulan April dan dapat refund sebesar 200 dollar. make correction to your monthly expenses list based on this.

### Jawaban

In [ ]:
expenses = [2200, 2350, 2600, 2130, 2190]

In [ ]:
print(expenses[0] - expenses[1]) # 1. Spent extra compared to January

In [ ]:
print(expenses[0] + expenses[1] + expenses[2]) # 2. Total expenses in first quarter

In [ ]:
2000 in expenses # 3. Find out if you spent exactly 2000 dollars in any month

In [ ]:
expenses.append(1980) # 4. Add June expense to Monthly expenses

In [ ]:
expenses[3] + 200

# Tuples

Tuple itu sama persis dengan list/array, perbedaannya adalah, Tuple bersifat immutable, yang mana setelah kita membuat Tuple, kita tidak bisa mengganti value di dalamnya, jadinya permanen.

In [ ]:
x = (8, 3, 7, 2, 5, 4, 6, 9, 9)

In [ ]:
x[0: 3]

In [ ]:
x.sort() # ini akan menghasilkan error, karena, Tuple bersifat immutable (permanen)

In [ ]:
x.count(9) # perintah count() tidak akan menghasilkan error, karena tidak mengubah isi value dari tuple tersebut

2

In [ ]:
y = ('Indra', 'Damar', 'Jati')

In [ ]:
z = x + y

In [ ]:
z # ini bisa terjadi, karena, ini tidak mengubah value tuple asal, yaitu x dan y

(8, 1, 3, 7, 2, 5, 4, 6, 9, 9, 'Indra', 'Damar', 'Jati')

In [ ]:
a = ('Indra', 9 ) * 5 # Membuat perulangan

In [ ]:
a

('Indra', 9, 'Indra', 9, 'Indra', 9, 'Indra', 9, 'Indra', 9)

In [ ]:
min(x) # min() untuk mencari value terkecil

2

In [ ]:
max(x) # max() untuk mencari value terbesar

9

In [ ]:
del a # del untuk menghapus tuple

# Dictionaries / Object

In [ ]:
d = {}

In [ ]:
d['Indra'] = 21 # Mengisi Dictionary

In [ ]:
d['Damar'] = 8

In [ ]:
d['Jati'] = 2002

In [ ]:
d[21] = 'Indra'

In [ ]:
d[8] = 'Damar'

In [ ]:
d[2002] = 'Jati'

In [ ]:
d['Indra'] # Pemanggilan dict

200

In [ ]:
d[21] # Pemanggilan dict

'Indra'

In [ ]:
for key, value in d.items(): # Perulangan untuk Dictionary
  print('Key: ')
  print(key)
  print('Value: ')
  print(value)
  print('')

Key:
Indra
Value:
200

Key:
Damar
Value:
210

Key:
Jati
Value:
2002

Key:
21
Value:
Indra

Key:
8
Value:
Damar

Key:
2002
Value:
Jati